<library path="src">
  <class name="RoboMate app" type="rqt_robomate_ui.my_module.MyPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for the iRobot Create 2.
    </description>
    <qtgui>
      <group>
        <label>Logging</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to logging.</statustip>
      </group>
      <label>My plugin label</label>
      <icon type="theme">applications-other</icon>
      <statustip>A Python GUI plugin for the iRobot Create 2.</statustip>
    </qtgui>
  </class>
</library>